/* Section Custom content */
.home-custom-content {    
    .card_section-image {
        @media (max-width: 767px) {
            order: 1;
        }
    }
    .card_section-paragraph {
        .card_section-body {
            @media (max-width: 767px) {
                text-align: center;
            }
        }
        @media (max-width: 767px) {
            order: 2;
        }
    }
    .main__text-1 {
        font-size: 5rem;        
        margin: 0 0 var(--gutter-sm);
        line-height: 1.2;        
        @extend %fw-custom;
    }
    .main__text-2 {
        font-size: var(--body-font-size);        
        line-height: 30px;
        margin: 0 0 var(--gutter-sm);
        font-family: 'Merriweather', serif;        
    }
    .sub__text-wrapper {
        margin: 0 calc( -1 * var(--gutter-xs));
        display: inline-flex;
        align-items: center;
        flex-wrap: wrap;        
    }
    .sub__text {
        padding: 0 var(--gutter-xs);
        display: flex;
        align-items: center;
        color: var(--body-color);
        @extend %fw-custom;                
        .svg-element-ui {
            display: flex;
            @include margin-end(var(--gutter-ct));  
        }
    }
    // .button__cotent {       
    //     .btn {
    //         margin: 5px 0 0;
    //         padding: var(--gutter-xxs) 50px;
    //     }
    // }    
    .featured_blog__item {
        margin: 0;
    }
    .card_section-blog {
        .card_section-body {
            position: relative;
            .row {
                > .blog-section:not(:last-child) {
                    margin-bottom: 40px;
                }
            }
        }
    }
    .home-newsletter .form-subscribe {
        justify-content: left;
        .form-control {            
            max-width: 390px;
        }
    }
    .card_section-separator {
        .card_section-item-inner,
        .card_section-body,
        .separator_line {
            height: 100%;            
        }
        .separator_line {                     
            @include border-inline-end(1px, solid, var(--body-border-color));
        }
    }    
    @media (min-width: 991px){
        .main__text{
            max-width: 570px;
            width: 100%;
            margin-right: 0;
            margin-left: auto;
        }
    }
    &:nth-child(2n){
        .button__link{
            max-width: 570px;
            width: 100%;
            margin-right: 0;
            margin-left: auto;
        }
    }
}
/* End Section Custom content */