.product-media {
    margin: 0 0 15px;      
    @media (min-width: 768px) {
        margin-bottom: 80px;
        display: flex;     
    }
    > .slide_ui-element {
        display: flex;
        overflow: hidden;
        > .feature-product-media {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
    .feature-product-media {
        .image__style {
            padding-top: 100% !important;
            img {
                object-fit: contain;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
            }
        }
    }
    .product-main-media {
        position: relative;
        overflow: hidden;        
        @media (min-width: 768px) {
            order: 2;
            flex: 1;
            padding: 0 0 0 15px;
        }        
        figure, .image__style, img {
            @extend %radius-4px;
        }
    }    
}
.product-thumbail-media {
    position: relative;
    margin: var(--gutter-xxs) 0 0;   
    display: none;
    @media (min-width: 768px) {
        display: block;
        order: 1;
        flex: 0 0 120px;
        max-width: 120px;
    }
    .row {
        margin: -6px 0;
        width: 100%;
        flex-wrap: wrap;
        > div {
            padding: 6px 0;
        }
    }
    .thumbnail-media {
        figure {
            border: 1px solid transparent;
            position: relative;
            @extend %radius-4px;
            @extend %transition;
            @media (min-width: 1025px) {
                &:hover {
                    border-color: var(--main-color);
                }
            }
        }
        svg {
            width: 20px;
            height: 20px;
            @include ab(n, n, 0, 0);
        }
        .image__style {
            padding-top: 120% !important;
        }
        .image__style, img {
            @extend %radius-4px;
        }
        img {
            object-fit: contain;
        }
        &.tns-nav-active figure {
            border-color: var(--main-color);
        }
    }
    .slide_ui-controls--nav {        
        button { 
            width: var(--gutter-lg);
            height: var(--gutter-lg); 
            transform: rotate(90deg);
            left: calc(50% -15px);                 
            svg {
                width: 16px;
            }
        }
    }
    .slide_ui-controls--nav button.slide_ui-btn-prev {
        top: 0; 
    }
    .slide_ui-controls--nav button.slide_ui-btn-next {
        top: auto;
        bottom: 0;
    }
    &:hover {
        @media (min-width: 1025px) {
            .slide_ui-controls--nav {
                opacity: 1;
            }
        }
    }
}
.product-info {
    margin: 0 0 50px;
    @media (min-width: 768px) {
        margin-bottom: 80px;
    }
    .stock-variant {
        .label_ui-group {
            position: static;
            margin: 0 0 var(--gutter-sm);
        }
        span {
            display: inline-block;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 700;
            line-height: 16px;
            margin: 0;
            padding: 0 var(--gutter-xxs);
            border-radius: var(--border-radius-default);
            span {
                padding: 0;
            }
        }
    }
    .product-vendor {
        @extend %font-size-3;
        display: block;
        line-height: var(--gutter-sm);
        margin: 0 0 var(--gutter-xxs);
    }
    .product-title {  
        margin: 0;      
        h1, > a {
            font-size: 29px;
            line-height: 1.2;
            margin: 0;      
            color: var(--body-link-hover);
            @extend %fw-custom;
            @media (min-width: 768px) {
                font-size: var(--heading-size-h1);
            }
        }
    }
    .product-item-id {
        font-size: calc(var(--body-font-size) - 0.2rem);
        font-family: 'PT Serif';
        line-height: 22px;
        margin: 0 0 3px;
    }
    .login-see-price {
        font-weight: 700;
        font-size: var(--heading-size-h3);
        color: var(--rating-star-color);
    }
    .product-review-wlcp {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 10px -15px;
        > div {
            padding: 0 15px;
        }
        .product-review {
            margin: 0;
        }
    }    
    .product-detail_short-description {          
        margin: var(--gutter-sm) 0 var(--gutter-md);   
        font-family: 'Merriweather', sans-serif; 
        line-height: 30px;
        ul {
            @extend %list-style-reset;
            li {
                line-height: 21px;
                padding: 2px 0;
                display: flex;
                @extend %section-heading-cl;
                @extend %font-size-3;
                img {
                    margin-top: 7px;
                    @include margin-end(var(--gutter-xxs));
                }
            }
        }
    }
    .product-price-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: var(--gutter-sm) 0 var(--gutter-md); 
        .text {
            font-size: var(--heading-size-h3);
            font-weight: 400;
            line-height: 38px;
            padding-right: 10px;       
            @media (min-width: 768px) {
                font-size: var(--heading-size-h2);        
            }     
        }
    }
    .size-chart {
        font-weight: 700;
        color: var(--body-link-hover);
        font-size: calc(var(--body-font-size) - 0.2rem);
        cursor: pointer;
    }
    .product-price {        
        line-height: 38px;
        font-size: var(--heading-size-h3);        
        display: flex;
        align-items: center;
        @extend %fw-custom;
        @media (min-width: 768px) {
            font-size: var(--heading-size-h2);        
        }
        .price-compare {
            font-weight: 400;                        
            @include margin-start(5px);
        }
    }
    .product-description {
        border-top: 1px solid var(--body-border-color);
        margin: var(--gutter-lg) 0 0;
        padding: var(--gutter-lg) 0 0;
        .featured_group_tab-ui .featured_group_tab-header {                
            .featured_group_tab-link > a {
                @media (min-width: 576px) {
                    font-size: calc(var(--heading-size-h6) - 0.1rem);
                }
            }
        }
    }
    .product-review {
        margin-top: var(--gutter-xxs); 
        .spr-badge {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
        .spr-starrating {
            @include margin-end(12px);
        }
		.spr-badge-caption {
            font-size: calc(var(--body-font-size) - 2px); 
            color: var(--body-color); 
            font-weight: 700;
            &:before {
                content: "(";
                @include margin-end(1px);
            }
            &:after {
                content: ")";
                @include margin-start(1px);
            }
		} 
    }    
    .product-cart {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end; 
        margin: 0 -9px var(--gutter-xxs);
        > div {
            padding: 0 9px;
            margin: 0 0 var(--gutter-xxs);
            @media (max-width: 400px) {
                flex: 1 1 auto;
            }
        }        
    }
}
.product-cart {
    .qty-wrapper {
        label {
            margin: 0 0 5px;            
            color: var(--body-link);
            font-size: calc(var(--body-font-size) + 0.2rem); 
        }
    }
    .qty-select {
        position: relative;
        max-width: 155px;
        border-radius: 0;
        background: none;
        height: auto;       
        margin-bottom: 0; 
        border: none;
        padding: 0;
        @media (max-width: 400px) {
            max-width: 100%;            
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        input[type=number] {
            -moz-appearance:textfield;
        }    
        input {
            text-align: center;
            padding-left: var(--gutter-lg);
            padding-right: var(--gutter-lg);
            width: 100%;
            height: 54px;
            padding: 18px 15px;
            border: 1px solid #babcbf;           
        }       
        .qty-minus,
        .qty-plus {
            width: var(--gutter-lg);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }   
        .qty-minus {
            @include ab(0, 5px, 0, n);
        }
        .qty-plus {
            @include ab(0, n, 0, 5px);
        } 
    }
    .product-cart_button {     
        .bo-text {
            display: block;
            cursor: pointer;
            font-weight: 700;
            line-height: 29px;
            margin: 0 0 5px;
            color: var(--main-color);
            text-align: center;
            font-size: calc(var(--body-font-size) - .2rem);
        }   
        .btn {            
            white-space: nowrap;
            line-height: 28px;
            padding: 10px 80px;
            font-size: var(--heading-size-h3);
            font-weight: 700;
            border-width: 3px;
            border-radius: 0;
            @media (max-width: 400px) {
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        .svg-element-ui {
            display: none;
        }
    }
}
.resp-cart-content {
    margin: 50px 0 0;
    @media (min-width: 992px) {
        margin-top: 0;
    }
}
.product-page-body {
    .modal-ui.is-open>div[data-dialog-close] {     
     @media (min-width: 768px) {
        display: none;       
     }
    }   
    #cartShopping {
        display: block !important;       
        border: none;
        position: static;
        width: 100%;
        .cart-drawer-wrapper {
            @media (max-width: 767px) {
                @include fixed(50%, 50%, n, n);
                @include translate(-50%, -50%);
                display: none;
                max-height: 95vh;
                overflow: hidden;
                overflow-y: auto;
                width: calc(100% - var(--gutter-lg));
                max-width: 520px;
                z-index: layer(popup-content);
                animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
            }
        }        
        .form-cart {
            .product-qty {
                padding-left: 20px;
                padding-right: 20px;
            }
            .product-price {
                display: block;   
                text-align: right;             
                span {
                    display: block;
                    padding: 0;
                }
            }
        }
        .product-title,
        .product-option {
            display: block;
            font-family: 'Merriweather', serif;
            line-height: 24px;
        }
        .product-title {
            margin-bottom: 5px;
        }
    }
}
.product-description {
    .featured_group_tab-ui .featured_group_tab-header {        
        .featured_group_tab-list-link {
            @media (min-width: 768px) {
                display: flex;
            }
            li {
                width: 100%;
                @media (min-width: 768px) {
                    flex: 1;
                }  
                a {
                    padding: 19px;
                    width: 100%;
                    display: block;
                    line-height: 28px;
                    font-size: 24px;
                    font-weight: 700;
                    color: var(--body-link-hover);
                    background: #E9EDED;
                    border: 1px solid #9DA4AC;
                    &:after {
                        content: none;
                    }
                    &:hover {
                        color: var(--main-text-color);
                        background: var(--main-color);
                        border-color: var(--main-color); 
                    }                    
                }
                &.active {
                    a {
                        color: var(--main-text-color);
                        background: var(--main-color);
                        border-color: var(--main-color);
                    }
                }
            }
                                  
        }
    }
    .tab-content {
        position: relative;
        width: 100%;
        background: #F9F9F9;
        border-radius: 10px;
        box-shadow: 0 4px 10px 0 rgba(49, 88, 142, 0.25);
        padding: 60px 20px 22px ;
        font-family: 'Merriweather', serif;
        line-height: 30px;
        @media (min-width: 768px) {
            padding: 40px;
        }
        > .featured_group_tab-pane {
            &:not(.active) {                
                @include ab(0, 0, n, n);
                @include visibility-hidden;                
                width: 100%;
            }            
        }
        h1, h2, h3, h4, h5, h6 {            
            margin: var(--gutter-xxs) 0;
        }
        h6 {
            @extend %body-font-size;
            @extend %fw-custom;
            line-height: 1.45;            
        }
        ul {
            padding-left: 20px;
            li {                
                padding: 3px 0;                
                align-items: center;                
            }
            svg {                
                @include margin-end(var(--gutter-ct));
            } 
        }
        .specs_text {
            &:not(:last-child) {
                margin-bottom: 20px;
            }
        }
        .row {                        
            .flex-box {
                display: flex;
                align-items: center;
                margin-bottom: var(--gutter-sm);
                @extend %fw-custom-1;
                @extend %section-heading-cl;
                svg {
                    @include margin-end(var(--gutter-ct));
                    path {
                        stroke: var(--section-heading-cl);
                    }
                }               
            }
        }
        table {
            border: none;
            margin: 0 0 var(--gutter-lg);
            overflow: hidden;
            overflow-x: auto;      
            @extend %body-font-size;
            @media (max-width: 767px) {
                display: block;
            }
            th, td {
                padding: var(--gutter-xxs) var(--gutter-sm);
                line-height: 20px;                
            }
            th {
                width: 33.333333%;                    
                font-weight: 700;
                font-family: 'PT Serif', sans-serif;
                padding-left: 0;
                @media (max-width: 479px) {
                    width: 50%;
                }
            }                      
        }
    }   
    &:not(.product-description-tab-pane) {
        h5 {            
            @extend %fw-custom;
            &:not(:first-of-type) {
                margin-top: 40px;
                @media (min-width: 768px) {
                    margin-top: 60px;
                }
            }
        }
    }
}
.swatch-variants-wrapper {  
    .swatch-option {        
        margin-bottom: 15px;
        .swatch-header p {
            margin: 0 0 5px;            
            color: var(--body-link);
            font-size: calc(var(--body-font-size) + 0.2rem);                        
        }
        .swatch-container {
            margin: 0 -6px;
            flex-wrap: wrap;
            .swatch-item {
                position: relative;
                text-align: center; 
                padding: 0 6px;
                margin: 0 0 12px;
                &:after {
                    content: none;
                }
                input {
                    display: none;
                }
                label {
                    @extend %point-cursor;
                    @extend %transition;        
                    margin: 0;
                }
                .swt-color {
                    @extend %color-swatch;                     
                }
                .tooltip {
                    @include ab(n, 50%, 100%, n);
                    @include translate(-50%, 10px);
                    @extend %transition;                                        
                    @include visibility-hidden; 
                    font-size: calc(var(--body-font-size) - 0.6rem);
                    font-weight: 500;
                    font-family: var(--font-heading);
                    border: none;
                    z-index: layer(tooltip);
                    background: var(--body-link-hover);
                    color: #fff;
                    padding: 15px;
                    margin: 0 auto 10px;
                    pointer-events: none;
                    line-height: 23px;
                    white-space: nowrap;
                    &:after {
                        content: '';
                        width: 15px;
                        height: 15px;
                        background: var(--body-link-hover);
                        transform: rotate(45deg);
                        @include ab(n, 35%, -7px, n);                        
                    }
                }
                &:hover {
                    .tooltip {
                        @include visibility-visible;
                        @include translate(-50%, 0); 
                    }
                }
                .customColor-white {
                    @extend %color-swatch-white;                                
                }
                input:checked + label {                   
                    &:before {
                        opacity: 1;
                    }
                }
                input.swt-color:checked + label,
                input.swt-type-color:checked + label {
                    width: 36px;
                    height: 36px;
                    margin: 2px 0;
                }
                input:checked + label.customColor-white {
                    border-color: transparent;
                }
                input.swt-type-image + label {
                    background-position: center;
                    border: 1px solid var(--body-border-color);
                    border-radius: 4px;
                    background-size: cover;
                    width: 40px;
                    height: 40px;
                    display: block;
                }
                input.swt-type-image:checked + label { 
                    border-color: var(--main-color);
                    &:hover {
                        @media (min-width: 1025px) {
                            border-color: var(--main-color); 
                        }
                    } 
                }
                input.swt-type-button + label {
                    @extend %size-swatch;                     
                }
                input.swt-type-button:checked + label {
                    @extend %size-swatch-active; 
                }
            }
        }
    }  
    + .variants-wrapper {
        margin-bottom: 0;
    }
}
.variants-wrapper {
    margin: 0 0 var(--gutter-md);
    .select-option {
        margin-bottom: var(--gutter-sm); 
        label {
            margin: 0 0 5px;                                    
            display: block;
            font-size: calc(var(--body-font-size) + 0.2rem)
        }
        select {
            min-width: 50%;
        }
    }
}
.product-wlcp-target {
    margin: 0 -13px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
    .wlcp-target {
        padding: 0 13px;
        a {            
            color: var(--main-color);
            position: relative;
            display: flex;
            align-items: center;
            line-height: 30px;            
            transition: none;
            font-weight: 600;
            font-size: (var(--body-font-size) - 0.4rem);           
            .svg-element-ui {
                @include margin-end(10px);
                svg {                    
                    path {
                        stroke: var(--main-color);
                    }
                }
            }
            &.arn_added {
                color: var(--body-link-hover);
                background: none;
                svg path {
                    stroke: var(--body-link-hover);
                }
            }
            @media (min-width: 1025px) {
                &:hover {
                    color: var(--body-link-hover); 
                    svg path {
                        stroke: var(--body-link-hover);
                    }
                }
            } 
        }
    }
}
.wf-active {
    .product-info-row .shopify-payment-button__button {
        @include font-family-active;
    }
}
.product-info-row {        
    .product-detail-info {
        margin: 0 0 5px;
        display: flex;
        align-items: center;
        line-height: var(--gutter-sm);
        @extend %font-size-3;
        .product-detail-info--heading {
            @extend %fw-custom-1;            
            @include padding-end(var(--gutter-xxs));
            color: var(--body-link);
        }
        .product-detail-info--content {
            color: var(--body-color);
            a {
                color: inherit;
                @media (min-width: 1025px) {
                    &:hover {
                        text-decoration: underline; 
                    }
                }
            }
        }
    }
    .share-links {        
        @extend %share-links;
        @media (min-width: 768px) {
            margin-top: 25px;
        }
    }
    .dynamic-btn {
        display: block;
        width: 100%;
        margin-top: 5px;
    }
    .shopify-payment-button__button {
        @extend %point-cursor;
        display: inline-block;
        padding: var(--gutter-xxs) 50px;
        line-height: 26px;
        font-weight: var(--btn2-fw);
        color: var(--btn2-cl);
        background: var(--btn2-bg-cl) !important;
        border-width: var(--btn2-border-width);
        border-style: solid;
        border-color: var(--btn2-border-cl);
        transition: none;
        @include font-family-normal;
        &:hover {
            @media (min-width: 1025px) {
                color: var(--btn2-hover-cl);
                background: var(--btn2-hover-bg-cl) !important; 
                border-color: var(--btn2-hover-border-cl);
            }
        }
    }
    .shopify-payment-button__button--hidden {
        display: none;
    }
}
#sizeChartModal {
    > div:not([data-dialog-close]) {
        padding: 0 !important;
        max-width: 670px;       
        background: none; 
    }
    .hulk-discount-table {
        background: var(--body-bg-color);
        padding: 7%;
        @media (min-width: 576px) {
            padding: 40px;
        }
        table {
            font-size: 16px;
            color: #000;
            th{
                padding: 8px 15px;
                border: 1px solid #ccc;
                background: #eee;
            }
            td {
                padding: 8px 15px;
                border: 1px solid #ccc; 
            }
        }
    }
}
.hulkapps-volumes {
    margin-top: 30px !important;
}
#boProductModal {
    &.modal-ui:not(.cart-drawer)>div:not([data-dialog-close]) {
        max-width: 1000px;
    }
    .button {
        .btn {
            padding-top: 10px;
            padding-bottom: 10px;
        }
    }
    .care-item-heading {
        margin-top: 30px;
        background: #e9eded;
        position: relative;
        padding: 10px 15px;        
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: space-between;  
        cursor: pointer;
        color: var(--body-color); 
        .icon {
            svg:nth-child(2) {
                display: none;
            }
        }   
        .wrapper-price-icon {
            display: flex;
            align-items: center;
            .price {
                margin-right: 15px;
            }
        }   
    }   
    .faqs-item {
        .faqs-item-content {
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.15s ease-in-out; 
        }
        &.active {
            .care-item-heading .icon {
                svg:nth-child(1) {
                    display: none;
                }
                svg:nth-child(2) {
                    display: block;
                }
            }
            .faqs-item-content {
                transition: max-height 0.35s ease-in-out;
                max-height: 100%;
            }
        }
    }   
}
.bo-item-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
    color: var(--body-color);    
    .product-cart .qty-select input {
        height: 46px;
    }
    .bo-item-image {
        margin-bottom: 15px;
    }
    .bo-item-price {
        margin-bottom: 10px;
    }
    .bo-item-sku {
        margin-bottom: 10px;
    }
    .bo-item {
        flex: 0 0 50%;
        max-width: 50%;
        margin-top: 30px;
        padding: 0 15px;
        text-align: center;
        @media (min-width: 768px) {
            flex: 0 0 20%;
            max-width: 20%;
        }
        @media (min-width: 1100px) {
            flex: 0 0 16.666666%;
            max-width: 16.666666%;
        }
    }
}