.page-content {
    h1, h2, h3, h4, h5, h6 {
        margin: 30px 0;
    }
    p {
        margin: 30px 0;
        font-family: 'Merriweather',  sans-serif;
        line-height: 30px;
        a {
            color: var(--body-link-hover);
        }
    }
    ul, ol {
        margin: 30px 0;
        font-family: 'Merriweather',  sans-serif;
        line-height: 30px;
        margin-left: 40px;
        li {
            margin: 0 0 10px;
        }
        a {
            color: var(--body-link-hover);
        }
    }   
}
.page-404 {
    .page-text-content {
        @extend %section-heading-cl;
        h1 {
            font-size: 45vw;
            line-height: 1.2;            
            margin: 0 0 var(--gutter-sm);
            color: inherit;
            @media (min-width: 576px) {
                font-size: 24rem;
            }
        }
        h2 {
            color: inherit;
            font-size: 3rem;
            line-height: 1.2;
            margin: 0 0 var(--gutter-sm);
            @media (min-width: 576px) {
                font-size: 5rem;
            }
        }
        p {
            line-height: 35px;
            font-size: calc(var(--heading-size-h5) - 0.2rem);
            margin: 0 0 var(--gutter-sm);
        } 
        .btn {
            padding-top: 14px;
            padding-bottom: 14px;
            font-size: var(--heading-size-h6);
        }       
    }
    .banner-404 {
        margin-top: var(--gutter-xlg);
        @media (min-width: 768px) {
            margin-top: 0;
        }
    }
}
/* Contact page */
.section-page-contact-template {
    margin-bottom: -75px;
    @media (min-width: 768px) {
        margin-bottom: -105px;
    }
}
.contact-heading {
    h1 {        
        line-height: 1.2;
        margin: 0 0 var(--gutter-sm);
    }
    p {
        margin: 0;
    }
}
.contact-detail {
    .text-1 {
        @extend %section-heading-cl;        
        margin: 0 0 var(--gutter-xs);
        * {
            color: inherit;
        }    
    }
    .text-2 {
        margin: 0 0 var(--gutter-md);
        @extend %font-size-3;
        @media (min-width: 768px) {
            margin-bottom: var(--gutter-lg);
        }        
    }
    .btn {
        padding: 4px 30px;
    }
}
.contact-social {
    .widget-social-icons  {
        display: flex;
        flex-wrap: wrap;
        margin: 0 8px;
        li {
            padding: 0 8px 10px;            
        }
    }
}
.contact-info-row {
    &:not(:last-child) {
        border-bottom: 1px solid var(--body-border-color);
        margin: 0 0 var(--gutter-lg);
        padding: 0 0 var(--gutter-lg);
        @media (min-width: 768px) {
            margin-bottom: 50px;
            padding-bottom: 50px;
        }
    }
}
.contact-info-col {   
    margin: 0 0 50px; 
    @media (min-width: 992px) {
        margin-bottom: 0;
    }
}
.contact-form {
    margin: 50px 0 0;
    @media (min-width: 768px) {
        margin-top: 80px;
    }
    .contact-form-title {
        .form-title {
            margin: 0 0 var(--gutter-lg);
            font-size: var(--heading-size-h4);
            @extend %fw-custom;
            @extend %section-heading-cl; 
        }
    }
    > .contact-form {
        margin: 0;
        .grid-form {
            input {
                width: 100%;
            }
            textarea {
                min-height: 150px;
                max-height: 150px;
                border-radius: var(--border-radius-default);                
            }
            div {
                &:not(:last-child) {
                    margin: 0 0 var(--gutter-sm);
                }
                &.form-actions {
                    margin-top: var(--gutter-lg);                   
                }                
            }
        }
        .grid-form-name {
            @media (min-width: 1200px) {
                display: flex;
                margin: 0 -15px !important;
            }
            .form-group {
                @media (min-width: 1200px) {
                    flex: 0 0 50%;
                    max-width: 50%;
                    padding: 0 15px;
                }
            }
        }
    }
}
.section-page-contact-template {
    .home-instafeed {
        border-top: 1px solid var(--body-border-color);
        padding: 50px 0 0;
        margin: 50px 0 0;
        @media (min-width: 768px) {
            padding-top: 80px;
            margin-top: 80px;
        }
        .AppContent .feed-title {
            @extend %section-heading-cl; 
            font-family: var(--font-heading);
            margin: 0 0 var(--gutter-lg);
        }
    }   
}  
.map-ui { 
    position: relative; 
    z-index: 0;
    .map-overlay {
        position: static;
        padding: var(--gutter-sm) 0 0;
        @media (min-width: 768px) {
            @include ab(auto, 30px, 30px, n);
            background: var(--body-bg-color);
            z-index: layer(map-overlay); 
            color: var(--body-color); 
            padding: var(--gutter-sm) var(--gutter-sm);
        }
        p { 
            margin: 0;
        } 
    }   
}
.section-page-contact-template .page-heading>div{
    margin: 0 auto;
 }
 .section-page-contact-template .section_content-wrapper{
   position: relative;
   top: -140px;
 } 
 .contact-item_left{
   padding: 70px 30px 40px;
   @media (min-width: 1200px) {
    padding: 70px 70px 40px;
   }
 }
 .contact-item_right{
   padding: 70px 30px;
   @media (min-width: 1200px) {
    padding: 70px 85px;
   }
   .contact__info {
       li {
           a {
               color: inherit;
           }
       }
   }
 }
 .contact-form{
   margin-top: 0;
 }
 .contact-form .contact-form-title .form-title{
   font-size: var(--heading-size-h3);
   font-weight: 700;
   color: #003746;
   margin: 0 0 var(--gutter-sm);
 }
 .contact-form label{
   font-size: 16px;
   margin-bottom: 10px;
 }
 .contact-form input,
 .contact-form textarea{
    padding: var(--gutter-ct) var(--gutter-sm);
    background-color: #fff;
    font-size: 14px;
    border: none;
 }
 .contact-form input{
   height: 48px;
 }
 .contact-form>.contact-form .grid-form textarea{
   max-height: 158px;
   height: 158px;
 }
 .contact-item_right .title{
   color: inherit;
   font-size: var(--heading-size-h3);
   font-weight: 700;
   margin: 0 0 var(--gutter-lg);
 }
 .contact-form>.contact-form .grid-form div.form-actions{
   margin-top: 50px;
 }
 .form-actions .btn{
   width: 156px;
   line-height: 30px;
 }
 .contact__info{
   list-style-type: none;
 }
 .contact__info li{
   font-family: "Merriweather ,sans-serif";
   line-height: 30px;   
   position: relative;
   padding-left: 37px;
 }
 .contact__info li:not(:last-child){
   margin-bottom: 35px;
 }
 .contact__info .svg-element-ui{
   margin-right: 10px;
   @include ab(4px, 0, n, n);
 }
/* About us */
.section-page-about-template {
    .page-heading {
        margin-top: 40px;
        display: flex;
        align-items: center;
        text-align: center;
        h1 {
            margin: 0 auto;
        }
    }
}
.section_content-wrapper {
    .block-item {
        &:not(:last-child) {
            margin-bottom: 30px;
            @media (min-width: 768px) {
                margin-bottom: 110px;
            }
        }
        .text-title {
            margin-bottom: 27px;
            h3 {
                font-size: var(--heading-size-h2);
                font-weight: 700;
            }
        }
        .text-1 {
            line-height: 30px;
            font-family: 'Merriweather',  sans-serif;
        }
        &.text-left {
            text-align: center !important;
            padding: 70px 0;
            margin: 0;
            @media (min-width: 768px) {
                padding: 140px 0;
            }
            > div {
                max-width: 840px;
                margin: 0 auto;
                &.text-title {
                    margin-bottom: 27px;
                }
            }
            .box-img {
                margin-bottom: 40px;
            }  
        }
        .image__style {
            img {
                display: block;
            }
        }
        &.block-sub_image_gallery {
            .section_content-body {
                > div {
                    align-items: center;
                    flex-wrap: wrap;
                    > div {
                        padding: 0;
                        &.card_section-paragraph {            
                            text-align: center;            
                            padding-top: 30px;
                            padding-bottom: 30px;
                            @media (min-width: 768px) {
                                padding-right: 4.2%;
                                padding-left: 8.2%;
                                text-align: left;                                
                            }
                        }
                    }                    
                }
            }  
            
            .button__cotent {
                margin-top: 30px;
                @media (min-width: 1200px) {
                    margin-top: 60px;
                }
                .btn {
                    text-transform: uppercase;
                    font-size: calc(var(--body-font-size) + 0.1rem);
                    padding: 13px;
                    width: 100%;
                    max-width: 300px;                    
                }
            }
        }
        .banner-image {
            position: relative;
            .banner-content-inner {
                top: 50%;
                left: 50%;
                text-align: center;
                width: 100%;
                @include translate(-50%, -50%);
                .text-1 {
                    color: #fff;
                    font-size: 32px;
                    line-height: 40px;
                    font-weight: 300;
                    text-transform: uppercase;
                    font-family: var(--body-font-family);
                    margin-bottom: 30px;
                    @media (min-width: 768px) {
                        font-size: 44px;                        
                        line-height: 55px;
                    }
                }
                .btn {                    
                    font-size: calc(var(--body-font-size) + .1rem);
                    padding: 13px;
                    width: 100%;
                    max-width: 300px;
                }
            }
        }
    }
}

/* Account page */
#template {
    margin-top: 40px;
    @media (min-width: 768px) {
        margin-top: 80px;
    }
}
.templateCustomersAccount {
    .container-wrapper {
        margin-top: 30px;
        @media (min-width: 768px) {
            margin-top: 60px;
        }
    }
}
.form-account {
    @extend %radius-4px;
    // border: 1px solid var(--body-border-color);
    max-width: 570px;
    padding: 7%;
    margin: 0 auto;
    @media (min-width: 576px) {
        padding: 5%;
    }
    .form-control {
        margin: 0 0 var(--gutter-lg);
        label {
            display: block;
            line-height: 1.1;
            margin: 0 0 6px;
            @extend %font-size-3;
            @extend %fw-custom-1;
            @extend %section-heading-cl;
        }
        input {
            width: 100%;
        }
    }
    .action_bottom {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        .btn {
            height: auto;
            margin-bottom: var(--gutter-xxs);
            &:focus {        
                box-shadow: inset 0 0 0 0 var(--main-color);
            }
        }
        p {
            flex: 0 0 100%;
            max-width: 100%;    
            text-align: center;
        }
        .action_line {
            text-align: center;            
        }
    }
    .note, p {
        a:not(.btn) {
            @media (min-width: 1025px) {
                &:hover {
                    color: var(--special-border);
                }
            }
        } 
    }
    .note {
        margin: 0 var(--gutter-xxs) var(--gutter-xxs);        
        @media (max-width: 519px) {
            display: block;
            text-align: center;
            flex: 0 0 calc(100% - 20px);
            max-width: calc(100% - 20px);
        }
    }
    p {
        &:last-child {
            margin-bottom: 0;
            margin-top: var(--gutter-xxs);
        }
    }
}
#customer_login {      
    #forgot_password {
        margin: var(--gutter-xxs) 0 0;
    }    
}
#admin_header {
    margin-top: 30px;
    @media (min-width: 768px) {
        margin-top: 60px;
    }
    .title {
        @extend %section-heading-cl;
        margin: 0 0 var(--gutter-lg);
        @media (min-width: 768px) {
            margin-bottom: var(--gutter-xlg);
        }
    }
    .action_return {
        margin: 0 0 var(--gutter-xxs);
    }    
}
#customer_sidebar {
    margin-bottom: var(--gutter-lg);
    @media (min-width: 768px) {
        margin-bottom: 0;
    }
    #customer_detail {
        @extend %section-heading-cl;
    }
    .action-bottom {
        display: flex;
        flex-wrap: wrap;        
        margin: 0 0 var(--gutter-xlg);
        .btn {
            margin: 0 0 15px;
            &:first-child {
                @include margin-end(var(--gutter-sm));
            }
        }
        #view_address {              
            @media (max-width: 1199px) and (min-width: 992px) {
                padding-left: var(--gutter-lg);
                padding-right: var(--gutter-lg);
                margin-right: 0;
            }
        }
    }
}
#customer_orders p {
    margin-top: 0;
}
#customerAddAddress,
.edit_address {
    header h2 {
        margin: 0 0 var(--gutter-lg);            
    }
    .customer_address_table {
        td {
            padding: 0 0 20px;
            @media (max-width: 479px) {
                display: block;
            }
            &.value {                
                @media (min-width: 480px) {
                    @include padding-start(var(--gutter-md));
                }
                input[type="text"], select {
                    width: 100%;
                }
            }
        }
        .label {
            label {
                display: block;
                line-height: 1.1;
                margin: 0;
                @extend %font-size-3;
                @extend %fw-custom-1;
                @extend %section-heading-cl;
            }
        }
        input[type="checkbox"] {
            height: auto;
            width: auto;
        }
    }
    .action_bottom {
        text-align: center;
    }
}
#address_tables {
    margin: var(--gutter-xlg) 0 0;  
    @extend %border-product-grid;
    > .row {
        margin: 0;
        > div {
            border-bottom: 1px solid var(--body-border-color);
            padding: 30px;
            @include border-inline-end(1px, solid, var(--body-border-color));            
        }
    }
    .address_title {
        margin: 0 0 var(--gutter-sm);
    }  
    .view_address {
        td {
            padding: var(--gutter-xxs) 0;           
            &.address-value {                
                @include padding-start(var(--gutter-sm));                
            }
        }
    }
    .address_actions {
        display: flex;
        flex-wrap: wrap;            
        margin: var(--gutter-md) 0 0;
        .btn {
            margin: 0 0 var(--gutter-xs);
            padding: 3px 30px;
            @extend %body-font-size;
            &:first-child {
                @include margin-end(var(--gutter-xs));
            }
        }
    }
    .address-delete-form >.btn {
        margin-top: var(--gutter-xxs);    
    }
}
.orders-detail {
    @extend %radius-4px;
    border: 1px solid var(--body-border-color);    
    overflow: hidden;
    overflow-x: auto;
    .orders-header {        
        display: flex;       
        > div {
            @extend %section-heading-cl;
            @extend %font-size-3;
            @extend %fw-custom;            
            padding: var(--gutter-sm);   
            border-bottom: 1px solid var(--body-border-color);
            flex: 0 0 20%;
            max-width: 20%;
            min-width: 120px;
            &:not(:last-child) {
                @include border-inline-end(1px, solid, var(--body-border-color));
            }            
        }
    }
}
.orders-body {
    .order-line {
        display: flex;               
        > div {
            padding: var(--gutter-sm);   
            flex: 0 0 20%;
            max-width: 20%;
            min-width: 120px;           
            &:not(:last-child) {
                @include border-inline-end(1px, solid, var(--body-border-color));
            }   
            > a {
                @extend %fw-custom;
                @media (min-width: 1025px) {
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .total {
                @extend %section-heading-cl;
                @extend %fw-custom-1;            
            }
        }
        &:not(:last-child) {
            > div {
                border-bottom: 1px solid var(--body-border-color);            
            }
        }
    }
}
#order_address {
    margin: var(--gutter-sm) 0 0;   
    @media (min-width: 768px)  {
        display: flex;
        margin-left: calc(-1 * var(--gutter-xs));
        margin-right: calc(-1 * var(--gutter-xs));
        > div {
            width: 50%;
            padding: 0 var(--gutter-xs);
        }
    }
    #order_payment,
    #order_shipping {
        margin: 0 0 var(--gutter-xlg);
    }
}
#order_details {
    border: 1px solid var(--body-border-color);
    @extend %radius-4px;
    @media (max-width: 767px) {
        display: block;
        overflow: hidden;
        overflow-x: auto;
    }
    tr {
        th {
            @extend %section-heading-cl;
            @extend %font-size-3;
            @extend %fw-custom;            
            padding: var(--gutter-sm);   
            border-bottom: 1px solid var(--body-border-color);
            &:not(:last-child) {
                @include border-inline-end(1px, solid, var(--body-border-color));
            }
        }
        td {
            padding: var(--gutter-sm);         
        }        
    }
    tbody {
        td {
            border-bottom: 1px solid var(--body-border-color);
            &:not(:last-child) {
                @include border-inline-end(1px, solid, var(--body-border-color));
            }
        }
        .product {
            @media (max-width: 767px) {
                min-width: 280px;
            }
            .d-grid {
                align-items: center;
            }
            .product-title {
                @include  padding-start(var(--gutter-sm));
            }
        }
        .sku {
            white-space: nowrap;
        }
        .money {
            @extend %section-heading-cl;
            @extend %fw-custom-1;
        }
    }
    tfoot {
        tr {
            @extend %section-heading-cl;
            @extend %fw-custom;  
            .label {                
                @extend %font-size-3;               
            }            
            &.order_total {
                .total {
                    font-size: calc(var(--heading-size-h6) - 0.1rem);
                }
            }
            td {
                &:not(:last-child) {
                    @include border-inline-end(1px, solid, var(--body-border-color));
                }
            }
            &:not(:last-child) {
                td {
                    border-bottom: 1px solid var(--body-border-color);                   
                }
            }
        }
    }
}

/* Search page */
.templateSearch {
    #main-content {
        #searchresults { 
            margin: var(--gutter-lg) 0 0;   
            @media (min-width: 768px) {
                margin-top: 65px;
            }
        }
        .form-search-ui {
            width: 100%;
            form {
                width: 100%;
                margin: 0 auto;
                @media (min-width: 992px) {
                    width: 60%;
                } 
                input {
                    width: 100%; 
                }
            }
        }
        .result-item {
            display: flex;
            align-items: center;
            padding-bottom: var(--gutter-sm);
            margin-bottom: var(--gutter-sm); 
            border-bottom: 1px solid var(--body-border-color);
            &:last-child {
                border-bottom: none;  
            }
            .result-image {
                flex: 0 0 100px;
                @include margin-end(var(--gutter-xs));
                @media (min-width: 992px) {
                    @include margin-end(var(--gutter-lg));
                }
            }
            .result-content {
                flex: 1;
                h4 {
                    font-size: calc(var(--product-item-name) + 0.2rem);
                    margin-bottom: 5px;
                }
            }
        }
    }
}
.wf-active {
    .arn-wishlist-page .page-arn-wishlist table .product-detail .view-btn,
    .arn-compare-page .page-arn-compare .view-btn {
        @include font-family-active; 
    }
}
/* wishlist */
.arn-wishlist-page .page-title {
    text-align: center;
    @media (min-width: 768px) {
        margin: 65px auto;
    }
}
.arn-wishlist-page .page-arn-wishlist table {
    @media (min-width: 768px) {
        display: block;
        width: 100%;
        overflow: hidden;
        overflow-x: auto;  
    }
    .product-price {
        @media (min-width: 768px) {
            display: table-cell; 
        } 
    }
    td:before {
        @media (max-width: 767px) {
            color: var(--body-color);
        }
    }
    .product-image img {
        height: auto;
    }
    .product-quantity input {
        max-width: 140px; 
        padding: 0 10px; 
        text-align: center;
    }
    .product-detail { 
        .view-btn {
            display: inline-block; 
            margin: 5px; 
            white-space: nowrap; 
            padding: var(--gutter-xxs) 50px;
            line-height: 26px; 
            font-weight: var(--btn1-fw);
            color: var(--btn1-cl);
            background: var(--btn1-bg-cl);
            border: var(--btn1-border-width) solid var(--btn1-border-cl);    
            border-radius: var(--border-radius-default); 
            @include font-family-normal;
            &:hover {
                color: var(--btn1-hover-cl);
                background: var(--btn1-hover-bg-cl);
                border-color: var(--btn1-hover-border-cl);   
            }
            &:last-child {
                color: var(--btn2-cl);
                background: var(--btn2-bg-cl);
                border: var(--btn2-border-width) solid var(--btn2-border-cl); 
                &:hover {
                    color: var(--btn2-hover-cl);
                    background: var(--btn2-hover-bg-cl);
                    border-color: var(--btn2-hover-border-cl);
                }
            }
        }
    }
}
/* Compare */
.arn-compare-page .page-arn-compare {
    .view-btn { 
        white-space: nowrap; 
        padding: var(--gutter-xxs) 50px;
        line-height: 26px; 
        font-weight: var(--btn1-fw);
        color: var(--btn1-cl);
        background: var(--btn1-bg-cl);
        border: var(--btn1-border-width) solid var(--btn1-border-cl);    
        border-radius: var(--border-radius-default);
        @include font-family-normal; 
        &:hover {
            color: var(--btn1-hover-cl);
            background: var(--btn1-hover-bg-cl);
            border-color: var(--btn1-hover-border-cl);   
        } 
    }
}

// login page
#customer, 
#recover-password{
    p,
    label{
        a{
            color: #6CB5CD;
        }
    }
    p{
        font-family: 'Merriweather',  sans-serif;
        margin: 0;
        line-height: 30px;
    }
    .title{        
        font-size: var(--heading-size-h1);
        line-height: 80px;
        font-weight: 500;
        color: #0C1C40;
        letter-spacing: -0.015em;
        margin-bottom: 0;
    }
    ::placeholder {
        color: #BABCBF;
        font-size: 14px;
    }
    label{
        font-weight: 700;
        font-size: 18px;
        margin-bottom: 4px;
        line-height: 30px;
        letter-spacing: -0.015em;
    }
    input{
        background: #FFFFFF;
        border: 1px solid #BABCBF;
        box-sizing: border-box;
        border-radius: unset;
    }
    .action_line{
        width: 100%;
        margin-bottom: 57px;
        .btn{
            width: 100%;
            background: #FCAD37;
            border: none;
            padding: 3px 0;
            font-size: 18px;
            line-height: 30px;
            font-weight: 700;
            letter-spacing: -0.015em;
            box-shadow: inset 0px -8px 16px rgba(225, 218, 218, 0.16), inset 0px -8px 30px rgba(0, 0, 0, 0.1);
            color: #fff!important;
            border-radius: none!important;
        }
    }
    .ndnapps-sociallogin-wrapper >span a{
        opacity: 0;
        height: 0;
    }
}
#customer{
    .note{
        text-align: center;
        position: relative;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 25px;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        &::before, 
        &::after{
            position: absolute;
            content: '';
            width: 47%;
            height: 1px;
            background-color: #EEEFF0;
            top: 10px;
        }
        &::before{
            left: 0;
        }
        &::after{
            right: 0;
        }
    }
    #customer_login{
        padding: 0;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        .form-control{
            margin: 0 0 var(--gutter-sm);
        }
        .login_email{
            margin-bottom: var(--gutter-lg);
        }
        .form-control-label{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .layout-ndn-socials{
            margin: 0;
            margin-bottom: 57px;
        }
    }
    #forgot_password{
        margin: 0;
        a{
            color: #03880C;
            text-decoration-line: underline;
        }
    }
    .cn-customer{
        max-width: 570px;
        width: 100%;
        margin: auto;
        text-align: start;        
        h3{
            color: #6CB5CD;
            font-weight: 700;
            font-size: 30px;
            line-height: 38px;
            font-family: var(--body-font-family);            
            a {
                color: inherit;
                font-weight: inherit;                                                   
            }
        }
        p a{
            color: var(--body-link);
        }
    }
    #create-customer{
        .form-account{
            padding: 0;
            margin: 32px auto 0;
        }
        .title{
            font-weight: 400;
            letter-spacing: -0.015em;
            line-height: 80px;
            font-size: 56px;
            margin-bottom: 0;            
        }
        .accept-policy{
            display: flex;
            margin-bottom: 24px;
            .checkbox-input{
                margin-right: 10px;
                width: 20px;
                height: 20px;
            }
            label{
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
            }
        }
    }
}
#recover-password {    
    .title {
        margin-bottom: 16px;
        color: #181818;
    }
    .note {
        line-height: 30px;
        letter-spacing: -0.015em;
    }
    .action_bottom {
        .btn {
            font-size: 18px;
            line-height: 30px;
            font-weight: 700;
            letter-spacing: -0.015em;
            &:not(:last-child) {
                margin-right: 25px;
            }
        }
        >.btn-1 {            
            background: #FCAD37;
            border-color: #FCAD37;                                                
            box-shadow: inset 0px -8px 16px rgba(225, 218, 218, 0.16), inset 0px -8px 30px rgba(0, 0, 0, 0.1);
            color: #fff!important;
            border-radius: unset;
        }
    }
    .form-account{
        padding: 52px 0 0;
    }
}
#col-main {
    &.all {
        padding: 0 5%;
        @media (min-width: 1680px) {
            padding-left: 90px;
            padding-right: 90px;
        }
        .addresses {    
            margin-top: 30px;
            @media (min-width: 651px) {
                margin-top: 0;
                padding: 0;
            }
            ul {
                background: #F9F9F9;
                padding: 28px 20px;
                height: 100%;
                li {
                    border: none;
                    padding: 0;
                    background-position: 0 8px;
                    font-size: var(--body-font-size);
                    line-height: 30px;
                    font-family: var(--font-heading);
                    font-weight: var(--body-font-weight);
                    .name {
                        color: var(--body-color);
                        font-weight: inherit;
                    }
                    &:not(:last-child) {
                        margin-bottom: 26px;
                    }
                }
                .distance {
                    margin: 0;
                    width: 36px;
                }
                .store_website {
                    margin-left: 36px;
                }
            }
        }
        .footer_html {
            margin-top: 30px;
            text-align: center;
            @media (min-width: 768px) {
                margin-top: 65px;
            }
        }
    }
    #store-locator-title {
        text-align: center;
        margin: 65px auto;
    }    
}