/* Pagination */
.pagination-holder {
    margin: var(--gutter-lg) auto 0;
    @media (min-width: 768px) {
        margin: var(--gutter-xlg) auto 0;
    }
    .pagination {
        @extend %list-style-reset;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        margin: 0 -8px;
        li {
            margin: 0;
            padding: 0 8px 8px;            
            a { 
                display: flex;
                align-items: center;   
                font-family: 'Nunito Sans', sans-serif;             
                @extend %font-size-3;
                @extend %fw-custom-1;
                @media (min-width: 1025px) {
                    &:hover {
                        color: var(--main-color);                        
                        svg path {
                            fill: var(--main-color);
                        }
                    }
                }   
                svg path {
                    fill: var(--main-color);
                    @extend %transition;
                }
            }
            &.active {
                a {
                    color: var(--main-color);                                      
                }
            }
        }
    }
}
/* End pagination */