/* Cart sidebar */
.cart-drawer {     
    .cartShopping-close {
        @include ab(5px, 15px, n, n);            
        border-radius: 50%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;                    
        z-index: layer(close-button); 
        display: none;
        svg {
            pointer-events: none;                      
            path {
                fill: var(--main-color);
            }
        }
    }    
    .form-cart {
        position: relative;
        height: 100%; 
        display: flex;
        flex-direction: column;
    }
    .cart-head {
        margin: 0 0 20px;  
        h3 {
            font-size: var(--heading-size-h3);
            font-weight: 700;
            background: var(--main-color);
            color: var(--main-text-color);
            line-height: 30px;
            padding: 19px 20px;
            text-align: center;
            a {
                color: inherit;
            }
        }     
        a {
            display: inline-block;
            position: relative;            
            .number {
                @include ab(0, n, n, -15px);
                font-weight: 400;
                line-height: 20.4px;  
                display: flex;
                align-items: center;
                background: transparent;
                font-size: 17px;
                color: var(--body-link);
                &:before {
                    content: "(";
                }
                &:after {
                    content: ")";
                }
            }
        }
        + div {
            background: #fff;            
            box-shadow: 0 4px 10px rgba(49, 88, 142, 0.25);
            border-radius: 10px;
            padding: 35px 20px 20px;        
            @media (min-width: 768px) {
                padding: 55px 30px 30px;
                background: #F9F9F9; 
            }
        }
    } 
    .cart-body {    
        overflow: hidden;
        overflow-x: auto;               
        .cart-body-inner {      
            font-family: 'Merriweather',  sans-serif;
            >span {              
                display: block;
                color: var(--body-color);                
            }
        }
    }   
    .cart-foot {        
        margin-top: 60px;
        .btn {
            width: 100%;
            margin-top: 20px; 
            padding: 15px; 
            font-size: 28px;  
        }    
        tr {
            display: flex;
            width: 100%;
        }     
        td {
            color: var(--body-color);
            font-family: 'Merriweather',  sans-serif;
            font-weight: 700;
            padding: 10px 0;
            &:nth-child(1) {
                flex: 1;  
            }
            &:nth-child(2) {
                padding-left: 20px;
                padding-right: 20px;
                flex: 0 0 105px;
                max-width: 105px;
            }
            &:nth-child(3) {
                text-align: right;
                flex: 0 0 80px;
                max-width: 80px;
            }
        }
    }     
    .tr-heading {
        display: flex;
        width: 100%;
        td {
            color: var(--body-color);
            padding: 0 0 20px;
            &:nth-child(1) {
                flex: 1;  
            }
            &:nth-child(2) {
                padding-left: 20px;
                padding-right: 20px;
                flex: 0 0 105px;
                max-width: 105px;
            }
            &:nth-child(3) {
                text-align: right;
                flex: 0 0 80px;
                max-width: 80px;
            }
        }
    }
    .cart-item-block {        
        border-bottom: 1px solid var(--body-color);
        display: flex;
        width: 100%;
        td {
            padding: 9px 0 13px;
            vertical-align: baseline;
            &:nth-child(1) {
                flex: 1;                
            }
            &:nth-child(2) {
                flex: 0 0 105px;
                max-width: 105px;
            }
            &:nth-child(3) {
                flex: 0 0 80px;
                max-width: 80px;
            }
        }    
        .product-cart .qty-select {
            input {
                height: 29px;
                width: 65px;  
                line-height: 29px;
                padding: 0 15px;
                text-align: left;
            }           
            .qty-minus, .qty-plus {
                display: none;
            }
        }
        >span {
            color: var(--body-color);
        }
        .featured_product__item-info {
            @include padding-start(var(--gutter-xxs)); 
            h6 { 
                font-size: calc(var(--body-font-size) - 0.1rem);
                font-weight: var(--body-font-weight);
                margin: 0 0 8px;
                line-height: 21.68px; 
            }
            .product-option:not(:empty) {
                position: relative;
                @include padding-start(5px);
                &:before {
                    content: "-";
                    @include margin-end(5px);
                } 
            }
            .product-price {
                margin: 0 0 7px;
                color: var(--price-sale-color);
                font-size: calc(var(--product-item-price) - 0.4rem);        
                @extend %fw-custom-1;        
                .price-compare {
                    font-size: var(--product-price-compare);
                    font-weight: var(--body-font-weight);
                }            
            }
            .product-qty { 
                margin: 0; 
                color: var(--body-color);
                >span {
                    @include margin-end(var(--gutter-xs));
                    font-size: calc(var(--body-font-size) - 0.3rem);    
                }
                .qty-wrapper {
                    padding: 0;
                    margin: var(--gutter-xxs) 0; 
                }
                span[data-item-qty] {
                    @include margin-end(3px);
                }
                span[data-item-qty-label] {
                    @include margin-start(3px);
                }
                a {
                    @media (min-width: 1025px) {
                        &:hover {
                            color: var(--special-border);
                        }
                    }
                }
            }
            .cart-remove-item {
                @extend %fw-custom;
                font-size: calc(var(--body-font-size) - 0.3rem);  
            }
        }
    }   
    &.js-ajax-cart {
        .featured_product__item-info {
            h6 {
                margin: 0 0 2px;
            }
            .cart-info {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;   
            } 
            .product-qty {
                display: block;
                .qty-select {
                    max-width: 95px;
                    input {
                        height: 30px;
                    }
                }  
                .qty-wrapper {
                    margin: 5px 0;  
                }
            }
        }
        .cart-drawer .cart-foot {
            margin-top: 35px;
        } 
    }     
}
/* End Cart sidebar */