.announcement-bar {
    background: var(--topbar-bg-color);
    color: var(--topbar-color);
    position: relative;
    min-height: var(--gutter-lg);
    @extend %font-size-3;        
    @media (min-width: 992px) {
        z-index: layer(header-relative);    //fix black background hover menu; 
    }  
    @media (max-width: 991px){
        background: var(--body-bg-color);
    }
    p {
        margin: 0;
        padding: 6px 0;
        line-height: 18px;
        color: inherit;
        b {
            @extend %fw-custom;
        }
    }
    button.btn {
        padding: 0;        
        width: var(--gutter-lg);
        height: var(--gutter-lg);
        line-height: var(--gutter-lg);
        text-align: center;
        @include ab(50%, n, n, 0);
        @include translateY(-50%);
        svg path {
            stroke: var(--topbar-color);
        }
        &.search-ui-btn {
            svg path {
                stroke: none;
                fill: var(--topbar-color);
            }
        }
    }
    .menu-list,
    .list-inline,
    .select-dropdown-group-ui {
        @extend %list-style-reset;
        display: flex;
        align-items: center;
    }
    .menu-list,
    .list-inline {        
        > li {  
            padding: 11px var(--gutter-sm) 12px;
            line-height: 18px;      
            font-weight: 700;               
            > a {                
                display: flex;
                align-items: center;
                color: var(--topbar-color);
                svg path {
                    fill: var(--topbar-color);
                }
            }
        }
    }
    .menu-list {
        > li {
            padding-left: var(--gutter-xxs);
            padding-right: var(--gutter-xxs);
            @media (min-width: 1230px) {
                padding-left: var(--gutter-sm);
                padding-right: var(--gutter-sm);
            }
            &:not(:last-child) {                
                @include border-inline-end(1px, solid, rgba(var(--topbar-border), 0.1));
            }
            > a {
                padding: 0 5px;
            }
        }
    }
    .widget-social-icons {
        padding: 0 var(--gutter-xxs);
        @media (min-width: 1230px) {
            padding-left: var(--gutter-xs);
            padding-right: var(--gutter-xs);
        }
    }
    .select-dropdown-group-ui {
        > div {
            padding: 6px var(--gutter-xs);
            line-height: 18px;   
            @media (min-width: 1230px) {
                padding-left: var(--gutter-md);
                padding-right: var(--gutter-md);
            }
            &:not(:last-child) {                
                @include border-inline-end(1px, solid, rgba(var(--topbar-border), 0.1));
            }          
            > a {
                display: flex;
                align-items: center;
                color: var(--topbar-color);                
            }
            .svg-element-ui {                
                @include margin-start(var(--gutter-xxs));
                display: flex;
                align-items: center;
                svg path {
                    fill: var(--topbar-color);
                }
            }
        }
    }   
    .annoubar-column {
        display: flex;        
        flex-wrap: wrap;
        justify-content: space-between!important;
        > div {
            display: flex;
            align-items: center;     
            &.annoubar-colItem-text {
                &:not(:last-child) {                    
                    @include padding-end(var(--gutter-xxs));
                    @media (min-width: 1230px) {                        
                        @include padding-end(var(--gutter-sm));
                    }
                }
            }     
            &:not(:last-child) {                
                @include border-inline-end(1px, solid, rgba(var(--topbar-border), 0.1));
            }
            &:last-child {
                .select-dropdown-group-ui > div:last-child,
                .widget-social-icons,
                .menu-list > li:last-child, 
                .menu-list > li:last-child > a,
                .list-inline > li:last-child {                    
                    @include padding-end(0);
                }                
            }  
            &:first-child {
                .select-dropdown-group-ui > div:first-child,
                .widget-social-icons,
                .menu-list > li:first-child, 
                .menu-list > li:first-child > a,
                .list-inline > li:first-child {                    
                    @include padding-start(0);
                }                
            }             
        }
        // @media (max-width: 991px){
        //     .annoubar-colItem-menu{
        //         display: none;
        //     }
        //     .annoubar-colItem-text{
        //         justify-content: center;
        //         width: 100%;
        //     }
        // }
        .annoubar-column-icons{
            .header-icons{
                button.btn{
                    position: unset;
                    transform: none;
                    svg{
                        width: 27px;
                        height: 24px;
                    }
                }
                .btn {
                    padding: 0;
                    margin-left: 30px;
                    img,svg{
                        width: 27px;
                        height: 24px;
                    }
                    img{
                        margin-top: 5px;
                    }
                }
            }
        }
    }
}