/* Cart page */
.cart-empty {
    .cart-title {
        @extend %section-heading-cl;
    }  
    .btn {
        margin: 4px;
    }     
}
.cart-title {
    position: relative;
    justify-content: center;
    h1{
        text-align: center;
        letter-spacing: -0.015em;
        line-height: 80px;
        margin-bottom: 28px;
    }
    .cart-count {
        font-weight: 400;
        line-height: 20.4px; 
        font-size: 17px;
        color: var(--section-heading-cl);
        @include margin-start(9px);  
    }
}
.cart-table {        
    .line-title {
        @extend %section-heading-cl;       
        border-bottom: 1px solid #F2F2F4;
        text-align: center;
        color: #53585F;
        > div {
            @extend %font-size-3;
            @extend %fw-custom;
            color: inherit;
            padding: 0 var(--gutter-sm) var(--gutter-xxs);
            font-weight: 600;
            font-size: 18px;
            line-height: 23px;
            text-transform: uppercase;;
            @media (max-width: 767px) {
                display: none;
            } 
            &:not(.line-col-1) {
                flex: 0 0 25%;
                max-width: 25%;                   
            }
            &.line-col-1 {
                flex: 0 0 60%;
                max-width: 60%;
                @include padding-start(0);
                @media (min-width: 1200px) {
                    flex: 0 0 50%;
                    max-width: 50%;
                }
            }           
            &.line-col-3 {
                @media (max-width: 767px) {
                    display: none;
                }
            }
            &.line-col-4 {
                @include padding-end(0);
            } 
        }
    }
    .line-items-wrapper {
        @extend %radius-4px;
        // border: 1px solid var(--body-border-color);
        border-bottom: 1px solid var(--body-border-color);
        .line-item {
            // &:not(:last-child) {         
            //     border-bottom: 1px solid var(--body-border-color);
            // }
            >span {
                display: block;  
                color: var(--body-color);
                padding: 0 var(--gutter-sm) var(--gutter-sm);
            }
        }
        .line-item-inner {           
            // align-items: center;  
            @media (max-width: 767px) {
                flex-wrap: wrap;
                padding-bottom: var(--gutter-sm);
            }
            > div {
                padding: var(--gutter-xs) var(--gutter-sm) 0;
                @media (min-width: 768px) {
                    padding: var(--gutter-lg) var(--gutter-sm);
                    padding: var(--gutter-sm) var(--gutter-sm);
                    // padding-left: 0;
                }
                &:not(:first-child) {   
                    flex: 0 0 25%;
                    max-width: 25%;                    
                }
                &.d-flex {
                    flex: 0 0 100%;
                    max-width: 100%;
                    // align-items: center;  
                    padding-left: 0;
                    @media (min-width: 768px) {
                        flex: 0 0 60%;
                        max-width: 60%;
                    }
                    @media (min-width: 1200px) {
                        flex: 0 0 50%;
                        max-width: 50%;
                    }                 
                    svg path {
                        stroke: var(--main-color);
                    } 
                    .line-item-image {
                        margin: 0 var(--gutter-sm);
                        flex: 0 0 120px;                        
                        margin-left: 0;
                        max-width: 120px;
                        figure, .image__style, img {
                            @extend %radius-4px;
                        }
                    }
                    .line-item-title {
                        p {
                            margin: 0;
                            @extend %section-heading-cl;
                        }
                        .line-item-options {
                            // font-size: calc(var(--body-font-size) - 0.3rem);
                            display: flex;
                            font-size: 18px;
                            line-height: 30px;
                            font-weight: 400;
                            margin: 0 0 19px 0;
                            p{
                                color: #53585F;
                                font-family: 'Merriweather ,sans-serif';
                                &:not(:last-child){
                                    margin-right: 21px;
                                }
                            }
                        }
                        a{
                            color: var(--section-heading-cl);
                            font-size: 20px;
                            line-height: 25px;
                            font-weight: 700;
                        }
                    }
                }
                &.line-price,
                &.line-subtotal {
                    text-align: center;
                    @extend %fw-custom-1;
                    color: var(--price-color);
                    p {
                        margin: 0;
                    }
                }
                &.line-price {                  
                    .original-price{
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 23px;
                        letter-spacing: 0.02em;
                        color: #FCAD37;
                    }
                    .price-compare{
                        color: #BABCBF;
                        text-decoration-line: line-through;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 20px;
                    }
                }
                &.line-subtotal {
                    @media (max-width: 767px) {
                        flex: 0 0 50%;
                        max-width: 50%;
                        text-align: end;
                    }
                }
                &.line-qty {
                    @media (max-width: 767px) {
                        flex: 0 0 50%;
                        max-width: 50%;
                    }
                    .qty-select {
                        position: relative;
                        max-width: 150px;
                        border: 1px solid #F2F2F4;
                        box-sizing: border-box;
                        margin: 0 auto;
                        input {
                            text-align: center;
                            width: 100%;
                            border-radius: unset;
                            background: #fff;
                        }
                        > a {
                            width: var(--gutter-lg);
                            display: flex;
                            align-items: center;
                        }
                        .qty-minus {
                            @include ab(0, 0, 0, n);                            
                            justify-content: flex-end;
                        }
                        .qty-plus {
                            @include ab(0, n, 0, 0);
                            text-align: left;
                        }
                    }
                }   
                .remove-btn a{
                    font-weight: 600!important ;
                    font-size: 14px!important ;
                    line-height: 19px!important ;
                    color: #6CB5CD!important ;
                    text-decoration-line: underline;
                    font-family: 'Nunito Sans', sans-serif;
                }             
            }
        }
    }
    .cart-table-footer {
        // margin: 50px 0 0;
        margin-top: 22px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        @media (max-width: 767px) {
            flex-direction: column;
        }
        span{
            margin-left: 11px;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: var(--section-heading-cl);
        }
        .note-active {
            textarea {
                min-height: 160px;
                height: auto;
                @extend %radius-4px; 
            }
        }
        textarea {
            width: 100%;
            height: 46px; 
            resize: none;
            border-radius: var(--border-radius-default);
            transition: height 0.35s ease-in-out;
        }
        .cart-note {
            width: 100%;
            margin: 0 0 var(--gutter-sm);
            @media (min-width: 768px) {
                flex: 0 0 50%;
                max-width: 50%;
                margin-bottom: 0; 
            }
        }
        .btn {            
            font-size: calc(var(--body-font-size) + 0.2rem);
        }
    }
}
.cart-info { 
    @extend %section-heading-cl;
    margin-top: var(--gutter-lg);
    padding: 30px 24px 42px;
    background: #F8F8F8;
    border-radius: 16px;
    box-shadow: 0px 4px 10px rgba(49, 88, 142, 0.25);
    @media (min-width: 992px) { 
        margin-top: 0; 
    }
    .free-shipping{
        margin: 0 20px;
        margin-bottom: 48px;
        position: relative;
        .cart-shipping-text{
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            font-weight: 400;
            font-family: 'Nunito Sans';
        }
        &::after {
            position: absolute;
            content: '';
            width: 83%;
            height: 12px;
            background: #FCAD37;
            border-radius: 22px;
            bottom: -20px;
        }
        &::before { 
            position: absolute;
            content: '';
            width: 100%;
            height: 12px;
            background: #BABCBF;
            border-radius: 22px;
            bottom: -20px;
        }
    }
    .cart-info-title {
        p {
            margin: 0 0 var(--gutter-xs); 
            padding-top: var(--gutter-lg);   
            color: inherit;        
            // @extend %font-size-3;
            // @extend %fw-custom;
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
            border-top: 1px solid #BABCBF;
        }
    }
    .cart-detail {        
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 800;
        font-size: 16px;
        line-height: 22px;
        > div {            
            display: flex;            
            justify-content: space-between;
            align-items: center;            
            &:not(:last-child) {
                // padding: var(--gutter-xs) 0;
                // border-bottom: 1px solid var(--body-border-color);
                padding-bottom: 16px;
                span {
                    &:first-child {
                        @extend %font-size-3;
                        @extend %fw-custom;
                    }
                }
                .cart-detail-value {
                    @extend %fw-custom;
                    font-weight: 800;
                }
            }
        }
        .shipping-method {
            .cart-detail-value {
                font-size: calc(var(--body-font-size) - 0.3rem);
            }
        }
        .cart-total {
            border-top: 1px solid #BABCBF;;
            padding-top: 24px;
            .cart-detail-label{
                color: var(--section-heading-cl);
                font-size: 20px!important;
                line-height: 27px;
            }
            .cart-detail-value {
                font-size: calc(var(--heading-size-h6) - 0.1rem);
            }
        }
        .cart-button {
            padding: var(--gutter-lg) 0 0;
            .btn {
                width: 100%;
                font-size: calc(var(--body-font-size) + 0.2rem);                
            }
        }
    }
    .cart-detail-label{
        font-weight: 400!important;
        letter-spacing: 0.02em;
        color: #53585F;
    }
}
.cart-section {     
    &.layout-2 {
        .cart-table {
            @media (min-width: 992px) {
                .line-title > div:not(.line-col-1),
                .line-items-wrapper .line-item-inner > div:not(:first-child) {
                    flex: 0 0 16.666666%;
                    max-width: 16.666666%;
                }
                .line-title > div.line-col-1,
                .line-items-wrapper .line-item-inner > div.d-flex {
                    flex: 0 0 50%;
                    max-width: 50%;
                }                
            }            
        }        
        .cart {
            .row {
                > div + div {
                    margin: 50px auto 0;
                    @media (min-width: 768px) {
                        margin-top: 80px;
                        margin-bottom: var(--gutter-sm);
                    }
                }
            }
        }
        .cart-info {
            border: 3px solid var(--special-border);
            padding: 8.1%;
            margin: 0;
            @extend %radius-4px;
            .cart-info-title p {
                font-size: var(--heading-size-h4);
            }
            .cart-detail {
                border: none;
                padding: 0;
            }
            .cart-total {
                border: none;
                padding-bottom: var(--xxs);
            }     
        }        
    }
}
//begin section 2
#shopify-section-product-recommendation{
    .section_title-wrapper{
        text-align: start;
        .section_title-text-1{
            font-size: 24px;
            line-height: 30px;
            font-weight: 700;
            margin-left: 40px;
        }
    }
    .slide_ui-controls--nav button{
        top: -35px;
        &.slide_ui-btn-prev{
            left: auto;
            right: 75px;
        }
        &.slide_ui-btn-next{
            right: 27px;
        }
    }
}


/* End Cart page */ 