.featured_block-product_recommend {
    .recommendation-title {
        line-height: 1.2;
        margin: 0 0 var(--gutter-sm);
        font-size: calc(var(--heading-size-h6) + 0.4rem);
        @extend %section-heading-cl;
        @extend %fw-custom;
    }
    .recommendation-products {
        @extend %border-product-grid;
        .product-section:last-child {
            border-bottom: none;
        }
    }
}
.section-product-recommendation {  
      
    &.bg-image .tns-inner {
        background: var(--body-bg-color);
    }    
    .section_title-wrapper {        
        margin: 0 0 30px;   
        @media (min-width: 768px) {
            text-align: left;
        }
    }
    .slide_ui-controls--nav {
        @include ab(-49px, n, n, 0);
        display: none;     
        @media (min-width: 768px) {
            display: flex;
        }
        button {
            position: static;
            margin-left: 22px;
            &[disabled] {
                svg path {
                    fill: #F2F2F4;
                }
            }
        }
    }
}