/* Password page */
.templatePassword {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;    
    padding: 30px 0;
    .countdown-time {
        justify-content: flex-start;
        margin: 0 0 var(--gutter-xlg);
    }
    .page-heading {
        margin: 15vh 0 0;
        .title {
            font-size: 13vw;
            margin: 0 0 var(--gutter-sm);
            @media (min-width: 576px) {
                font-size: 7rem;
            }
        }
        .subtitle {
            margin: 0 0 var(--gutter-sm);
            font-size: 2.4rem;               
        }
    }
    label[for="password"] {
        display: block;
        line-height: 1.1;
        margin: 0 0 var(--gutter-xs);
        @extend %font-size-3;
        @extend %fw-custom-1;   
        cursor: pointer;      
    }   
    input[type="password"] {
        width: 100%;
        max-width: 380px;
        background: var(--body-bg-color);
        margin-bottom: var(--gutter-xs);
    }
    .btn {
        @extend .btn-1;
        @include margin-start(var(--gutter-xs));
        border: none;
        margin-bottom: var(--gutter-xs);
    }
    .form-control {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        &:not(.show) {
            display: none;  
        }
    }
    #powered {
        @extend %font-size-1;        
        margin: var(--gutter-xs) 0 5vh;
        a {            
            background-position: left center;
            @include margin-start(5px);
        }
    }
    &.text-color-main {
        .page-heading .title,
        .page-heading .subtitle,
        label[for="password"] {
            color: var(--main-color);
        }        
        #powered {
            color: var(--body-color);
            a {
                color: var(--body-link);
            }
        }
    }
    &.text-color-white {
        .page-heading .title,
        .page-heading .subtitle,
        label[for="password"],
        .countdown-time > span:not(:last-child):after {
            color: var(--bg-white);
        }        
        #powered {
            color: var(--bg-white);
            a {
                color: var(--bg-white);
            }
        }         
    }
}
/* End Password page */